Repository fabric8-analytics/fabric8-analytics-server, pull requests merged in 2020-08, with the labels that each got.

#655 feat: Implement component analyses batch API
  api_specs/v2/component_analyses.yaml
  bayesian/api/api_v2.py
  bayesian/utility/db_gateway.py
  bayesian/utility/v2/ca_response_builder.py
  bayesian/utility/v2/component_analyses.py
  tests/api/test_api_v2.py
  tests/data/gremlin/gremlin_batch_data.json
  tests/data/response/ca_batch_response.json
  tests/utility/test_db_gateway.py
  tests/utility/v2/test_ca_response_builder.py
  tests/utility/v2/test_component_analyses.py
Labels: api

#656 feat: changes for user management
  Dockerfile
  Dockerfile.rhel
  api_specs/user.yaml
  bayesian/api/user_api.py
  bayesian/default_config.py
  bayesian/utility/user_utils.py
  openshift/template.yaml
  tests/api/test_user_api.py
  tests/utility/test_user_utils.py
Labels: api

#664 changed ingestion error behaviour
  bayesian/api/api_v2.py
  tests/api/test_api_v2.py
Labels: enhancement

#668 feat: ca specs update and registered user response added
  api_specs/v2/component_analyses.yaml
  bayesian/api/api_v2.py
  bayesian/utility/v2/ca_response_builder.py
  tests/utility/v2/test_ca_response_builder.py
  tests/utility/v2/test_component_analyses.py
Labels: Sprint Workitem, documentation, enhancement
